/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block{
    border-width: 10px;
    border-style: outset;
    display: inline-block;
    padding: 15px;
}
.orange{
    background-color: orangered;
    border-color: orangered
}

.purple{
    background-color: purple;
    border-color: purple;
}

.blue{
    background-color: blue;
    border-color: blue;
}
.rust{
    background-color: #bc3908;
    border-color: #bc3908;
}

.moonstone{
    background-color: #43bccd;
    border-color: #43bccd;
}

.space-cadet{
    background-color: #2e294e;
    border-color: #23294e;
}

.fairy-tale{
    background-color: #efbcd5;
    border-color: #efbcd5;
}