* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display:flex;
}

#sidebar-content {
    background-color: grey;
    width: 250px;
    padding: 24px;
    border-right: 3px solid purple;
}

#sidebar-content h2 {
    border-bottom: 2px solid purple;
    padding-bottom: 48px;
}

#sidebar-content ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a {
    color: lightyellow;
    text-decoration: none;
}

#sidebar-content ul li {
    padding: 4px 0px;
}

#main-content {
    flex: 1;
    padding: 48px;
}