/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img{
    width: 100%;
}
.frame-1{
    border:10px solid #ffeedd;
    margin: 70px 12px 0px;
    box-shadow: -2px 2px 2px #3a3632;
    width: 120px;
}

.frame-1 div{
    padding: 12px;
    background-color: white;
    box-shadow: 2px 2px 2px;
}

.frame-2{
    border: 10px solid black;
    margin: 79px 12px 0px;
    box-shadow: -2px 2px 2px black;
    width: 120px;
}

.frame-2 div{
    padding: 10px;
    background-color: darkred;
    box-sizing: 2px 2px 2px;;
}

.frame-3{
    border: 10px solid orangered;
    margin: 79px 12px 0px;
    width: 120px;
}

.frame-3 div{
    padding:15px;
    background-color: navy;
    color: white;
}