* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color:red;
    display: block;
    border: 3px solid red;
    padding: 12px;
    margin-top: 36px;
    background-color: lightpink;
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover {
    background-color: red;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card1, #card2, #card3, #card4 {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

#card1 h2, #card2 h2, #card3 h2,
#card4 h2 {
    color: lightsalmon;
}

.card-content p {
    color: white;
}

#card5 {
    position: relative;
    background-color: white;
}

#card5 .card-content {
    position: absolute;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000033;
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card5:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    z-index: 2;
}

.card5-container {
    display: flex;
    flex-wrap: wrap;
}

.card5-container .card {
    flex: 1;
    min-width: 300px
}

.card-content p {
    color: black;
}

#card6 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card6 .card-front,
#card6 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 12px;
}

#card6 .card-back {
    transform: scaleX(0);
}

#card6 .card-front {
    background-image: url("../images/hearts.png");
    background-size: 100px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card6 .card-front {
    transition: transform 0.25s 0.25s;
}

#card6 .card-back {
    transition: transform 0.25s;
}

#card6:hover .card-front {
    transform: scaleX(0);
    transition: transform 0.25s;
}

#card6:hover .card-back {
    transform: scaleX(1);
    transition: transform 0.25s 0.25s;
}