* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}

#link-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#hero-1 {
    background-image: url(../images/cereal-icons2.jpg);
    height: 100vh;
}

#search {
    color:grey;
    background-color: white;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    background: transparent;
    padding: 48px;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.side-by-side .image-container {
    flex: 1;
    height: 500px;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.side-by-side .text-container h3 {
    font-size: 48px;
}

.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #7399D8;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;
}

.text-container  {
    color: black;
    background-color: black;
}

#footer {
    background-color: black;
    color: white;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
}

#recipe {
    background-color: black;
    color: #7399D8;
    justify-content: center;
}

#flex-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 4px;
    padding: 15px;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 2px;
    color: #7399D8;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 25px;
    color: #7399D8;
}

img {

    align-self: center;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    border: 10px solid #7399db;
}

.basic-grid-gallery img {
    width: 85%;
    height: 80%;
}

h3 {
    color: #7399D8;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .her-content h1 {
        font-size: 2.75rem;
    }
    .her-content h3 {
        font-size: 1.124rem;
    }
    #navbar {
        flex-direction: columm;
        height: 100vh
    }
}

@media screen and (max-width: 480px){
    .her-content h1 {
        font-size: 1.625rem;
    }
    .her-content h3 {
        font-size: 1rem;
    }
    .her-content a {
        display: block;
        font-size: 1.125rem;
    }
    #navbar {
        height: auto;
        flex-direction: column;
    }

    #footer {
        flex-direction: column;
        align-items: center;
    }
}