#purplehaze{
    font-family: cursive;
    text-align: center;
}

#ph-c1{
    background-color: #b084cc;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color: white;
}

#ph-c2{
    background: #665687;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color:white;
}

#ph-c3{
    background-color: #190933;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color: white;
}

#blueberrymuffin{
    font-family: cursive;
    text-align: center;
}

#bm-c1{
    background-color: #197bbd;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color: white;
}

#bm-c2{
    background-color: #125e8a;
    padding:24px;
    text-align: left;
    font-family: cursive;
    color: white;
}

#bm-c3{
    background-color: #204b57;
    padding:24px;
    text-align: left;
    font-family: cursive;
    color:white
}


#fallleaves{
    font-family: cursive;
    text-align: center;
}
#fl-c1{
    background-color: #941b0c;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color: white;
}

#fl-c2{
    background-color: #bc3908;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color: white;
}

#fl-c3{
    background-color: #f6aa1c;
    padding: 24px;
    text-align: left;
    font-family: cursive;
    color: white;
}