/* Drill 1 - Write your code solution below */
#d1-div1{
    display: inline;
}

#d1-div2{
    display: inline;
}

#d1-div3{
    display: inline;
}

/* Drill 2 - Write your code solution below */

#d2-span1, #d2-span2, #d2-span3{
    display:block;
}



/* Drill 3 - Write your code solution below */
.d3-div{
    display: inline-block;
}

/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */


/* Drill 6 - Write your code solution below */
