/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    background: linear-gradient(
        to bottom right,
        rgb(253, 204, 115),
        rgb(237, 140, 79)
    );
    border: 2px solid black;
    width: 700px;
    padding: 24px;
}

#left-side,
#right-side {
    display: inline-block;
}

#id-and-expiration div {
    display: inline-block;
    padding-right: 10px;
}

#small-pic, #data-fields {
    display: inline-block;
}

#data-left, 
#data-right {
    display: inline-block;
}

#signature {
    text-align: center;
}

#donor,
#real-id {
    display: inline-block;
}

#small-pic img {
    width: 60px;
    opacity: 0.5;
}

#right-side img{
    width: 140px;
    
}

#left-side h4 {
    background-color: blue;
    color: white;
    height: 25px;
    text-align: center;
    padding-top: 3px
}

h1, h4 {
    margin: 0px;
}

h1 {
    font-size: 40px;
}

#left-side {
    padding-bottom: 20px;

}

#id-and-expiration, 
#address, 
#personal-info {
    padding-left: 5px;
}

#id-and-expiration {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 12px;
}

