* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #9199a0;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-areas: 
        ".content sidebar."
    ;
}

#sidebar-content {
    padding:18px;
}

#sidebar-content h3 {
    background-color: purple;
    border: 5px solid darkorchid;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: rgb(172, 102, 172);
    border: 2px solid darkorchid;
    margin: 0px 0px 36px;
    list-style-type:lower-roman;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 7px;
}

#main-content h3 {
    color: darkorchid;
}

#main-content h1 {
    color: purple;
}

#main-content h2 {
    color:blueviolet;
}

#main-content h4 {
    color: darkviolet;
}

#main-content p {
    color: indigo;
}

#main-content ul {
    color:rebeccapurple;
}

#sidebar-content p {
    margin-top: 0px;
    color: rebeccapurple;
}